In [4]:
import sqlite3 as lite
import pandas as pd

In [6]:
cities = (('New York City', 'NY'),
('Boston', 'MA'),
('Chicago', 'IL'),
('Miami', 'FL'),
('Dallas', 'TX'),
('Seattle', 'WA'),
('Portland', 'OR'),
('San Francisco', 'CA'),
('Los Angeles', 'CA'),
('Las Vegas', 'NV'),
('Atlanta', 'GA'))

In [7]:
weather = (('New York City', 2013, 'July', 'January', 62),
('Boston', 2013, 'July', 'January', 59),
('Chicago', 2013, 'July', 'January', 59),
('Miami', 2013, 'August', 'January', 84),
('Dallas', 2013, 'July', 'January', 77),
('Seattle', 2013, 'July', 'January', 61),
('Portland', 2013, 'July', 'December', 63),
('San Francisco', 2013, 'September', 'December', 64),
('Los Angeles', 2013, 'September', 'December', 75),
('Las Vegas', 2013, 'July', 'December', '99'),
('Atlanta', 2013, 'July', 'January', '99'))

In [13]:
# Connect to the database
con = lite.connect('getting_started.db')

with con:

    cur = con.cursor()
    # Create the cities and weather tables (HINT: first pass the statement DROP TABLE IF EXISTS <table_name>; to remove the table before // you execute the CREATE TABLE ... statement)
    cur.execute("DROP TABLE IF EXISTS cities")
    cur.execute("DROP TABLE IF EXISTS weather")

    # Insert data into the two tables

    cur.execute("CREATE TABLE cities (name text, state text)")
    # cur.execute('.seperator ","')
    # cur.execute('.import databases/cities.csv cities')
    cur.execute("CREATE TABLE weather (city text, year integer, warm_month text, cold_month text, average_high integer)")
    # cur.execute('.seperator ","')
    # cur.execute('.import databases/weather.csv weather')


    cur.executemany("INSERT INTO cities VALUES(?,?)", cities)
    cur.executemany("INSERT INTO weather VALUES(?,?,?,?,?)", weather)

In [14]:
cur.execute('SELECT name, state FROM cities INNER JOIN weather ON name = city WHERE warm_month = "July"')

# Load into a pandas DataFrame
rows = cur.fetchall()
cols = [desc[0] for desc in cur.description]
df = pd.DataFrame(rows, columns=cols)

In [15]:
df.head()

            name state
0  New York City    NY
1         Boston    MA
2        Chicago    IL
3         Dallas    TX
4        Seattle    WA

In [34]:
print "These cities are warm in July:"
for row in df.iterrows():
    print row[1]['name'] + ', ' + row[1]['state']

These cities are warm in July:
New York City, NY
Boston, MA
Chicago, IL
Dallas, TX
Seattle, WA
Portland, OR
Las Vegas, NV
Atlanta, GA

In [40]:
", ".join(list(df['name'].values))

u'New York City, Boston, Chicago, Dallas, Seattle, Portland, Las Vegas, Atlanta'

In [41]:
listvals = []
for row in df.iterrows():
    listvals.append(row[1]['name'] + ', ' + row[1]['state'])

In [42]:
listvals

[u'New York City, NY',
 u'Boston, MA',
 u'Chicago, IL',
 u'Dallas, TX',
 u'Seattle, WA',
 u'Portland, OR',
 u'Las Vegas, NV',
 u'Atlanta, GA']

In [43]:
', '.join(listvals)

u'New York City, NY, Boston, MA, Chicago, IL, Dallas, TX, Seattle, WA, Portland, OR, Las Vegas, NV, Atlanta, GA'

In [44]:
df['citystate'] = df['name'] + ', ' + df['state']

In [45]:
df.head()

            name state          citystate
0  New York City    NY  New York City, NY
1         Boston    MA         Boston, MA
2        Chicago    IL        Chicago, IL
3         Dallas    TX         Dallas, TX
4        Seattle    WA        Seattle, WA

In [49]:
"These cities are warm: " + ' // '.join(list(df['citystate'].values))

u'These cities are warm: New York City, NY // Boston, MA // Chicago, IL // Dallas, TX // Seattle, WA // Portland, OR // Las Vegas, NV // Atlanta, GA'

In [50]:
mylist = ['a', 'b', 'c']
', '.join(mylist)

'a, b, c'

In [54]:
df['citystate'] = df['citystate'].map(lambda val: val[-2:])

In [55]:
df.head()

            name state citystate
0  New York City    NY        NY
1         Boston    MA        MA
2        Chicago    IL        IL
3         Dallas    TX        TX
4        Seattle    WA        WA

In [56]:
import pandas as pd
from scipy import stats

data = '''Region,Alcohol,Tobacco
North,6.47,4.03
Yorkshire,6.13,3.76
Northeast,6.19,3.77
East Midlands,4.89,3.34
West Midlands,5.63,3.47
East Anglia,4.52,2.92
Southeast,5.89,3.20
Southwest,4.79,2.71
Wales,5.27,3.53
Scotland,6.08,4.51
Northern Ireland,4.02,4.56'''

data = data.splitlines()

data = [i.split(',') for i in data]

column_names = data[0] # this is the first row
data_rows = data[1::] # these are all the following rows of data
df = pd.DataFrame(data_rows, columns=column_names)

df['Alcohol'] = df['Alcohol'].astype(float)
df['Tobacco'] = df['Tobacco'].astype(float)

# that prints the mean, median, mode, range, variance, and standard deviation for the Alcohol and Tobacco dataset with full text (ex. "The range for the Alcohol and Tobacco dataset is ...")

print("The Alcohol and Tobacco dataset Alcohol mean is " + str(df['Alcohol'].mean())+"." )
print("The Alcohol and Tobacco dataset Tobacco mean is " + str(df['Tobacco'].mean())+"." )

print("The Alcohol and Tobacco dataset Alcohol median is " + str(df['Alcohol'].median())+ "." )
print("The Alcohol and Tobacco dataset Tobacco median is " + str(df['Tobacco'].median())+ "." )

print("The Alcohol and Tobacco dataset Alcohol mode is " + str(stats.mode(df['Alcohol']))+ "." )
print("The Alcohol and Tobacco dataset Tobacco mode is " + str(stats.mode(df['Tobacco']))+ "." )

print("The Alcohol and Tobacco dataset Alcohol range is " + str(max(df['Alcohol']) - min(df['Alcohol']))+"." )
print("The Alcohol and Tobacco dataset Tobacco range is " + str(max(df['Tobacco']) - min(df['Tobacco']))+"." )

print("The Alcohol and Tobacco dataset Alcohol variance is " + str(df['Alcohol'].var())+ "." )
print("The Alcohol and Tobacco dataset Tobacco variance is " + str(df['Tobacco'].var())+ "." )

print("The Alcohol and Tobacco dataset Alcohol standard deviation is " + str(df['Alcohol'].std())+ "." )
print("The Alcohol and Tobacco dataset Tobacco standard deviation is " + str(df['Tobacco'].std())+ "." )

The Alcohol and Tobacco dataset Alcohol mean is 5.44363636364.
The Alcohol and Tobacco dataset Tobacco mean is 3.61818181818.
The Alcohol and Tobacco dataset Alcohol median is 5.63.
The Alcohol and Tobacco dataset Tobacco median is 3.53.
The Alcohol and Tobacco dataset Alcohol mode is ModeResult(mode=array([ 4.02]), count=array([1])).
The Alcohol and Tobacco dataset Tobacco mode is ModeResult(mode=array([ 2.71]), count=array([1])).
The Alcohol and Tobacco dataset Alcohol range is 2.45.
The Alcohol and Tobacco dataset Tobacco range is 1.85.
The Alcohol and Tobacco dataset Alcohol variance is 0.636425454545.
The Alcohol and Tobacco dataset Tobacco variance is 0.348936363636.
The Alcohol and Tobacco dataset Alcohol standard deviation is 0.797762780873.
The Alcohol and Tobacco dataset Tobacco standard deviation is 0.590708357514.

In [58]:
stats.mode(df['Alcohol'])

ModeResult(mode=array([ 4.02]), count=array([1]))

In [72]:
stats.mode(df['Alcohol'])[0][0]

4.0199999999999996

In [69]:
test = ([1], [2])

In [71]:
test[0][0]

1

In [1]:
test = ([1])

In [2]:
test[0][0]

TypeError: 'int' object is not subscriptable

In [3]:
test = ([4.02])

In [4]:
test[0][0]

TypeError: 'float' object is not subscriptable

In [5]:
test[0]

4.02

In [6]:
test = ([1],[2])

In [7]:
test[0]

[1]

In [8]:
' // '.join(listvals)

NameError: name 'listvals' is not defined