In [16]:
import pandas as pd
import statsmodels.api as sm

df = pd.read_csv('loansData_clean.csv')
df['Interest.Rate'][0:5]

0    0.0890
1    0.1212
2    0.2198
3    0.0999
4    0.1171
Name: Interest.Rate, dtype: float64

In [17]:
df['IR_TF'] = df['Interest.Rate'].map(lambda val: 1 if val < 0.1200 else 0)

In [18]:
df['IR_TF'][0:5]

0    1
1    0
2    0
3    1
4    1
Name: IR_TF, dtype: int64

In [19]:
df[df['Interest.Rate'] == .1000].head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,FICO.Score,IR_TF
203,6000,5950,0.1,36,major_purchase,8.74%,FL,MORTGAGE,15416.67,715-719,9,105730,1,10+ years,715,1
439,21000,20925,0.1,36,credit_card,14.08%,CA,RENT,6250.00,730-734,8,21102,0,2 years,730,1
520,12000,12000,0.1,36,debt_consolidation,12.32%,WI,MORTGAGE,5000.00,715-719,6,4515,1,7 years,715,1
649,2800,2800,0.1,36,debt_consolidation,20.32%,CA,RENT,3250.00,700-704,4,8717,0,5 years,700,1
1016,5000,5000,0.1,60,car,9.28%,FL,RENT,4000.00,735-739,6,3448,0,< 1 year,735,1

In [22]:
df[df['Interest.Rate'] == .2198].head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,FICO.Score,IR_TF
2,35000,35000,0.2198,60,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1,2 years,690,0
20,22000,21975,0.2198,36,debt_consolidation,11.19%,TX,MORTGAGE,6666.67,665-669,9,23124,0,10+ years,665,0
755,3800,3800,0.2198,36,small_business,8.31%,CA,RENT,4333.33,680-684,6,4843,2,7 years,680,0
1281,9500,9500,0.2198,36,other,16.01%,PA,RENT,4500.00,660-664,7,3673,1,3 years,660,0
1681,20000,20000,0.2198,60,home_improvement,17.08%,TX,MORTGAGE,5000.00,675-679,5,19780,1,2 years,675,0

In [23]:
df['Intercept'] = float(1.0)

In [24]:
df['Intercept'][0:5]

0    1
1    1
2    1
3    1
4    1
Name: Intercept, dtype: float64